{% extends 'base.html' %}

{% block head %}
<title>alpha</title>
{% endblock %}

{% block body %}
<div class="content">
    <a href="/excel/downloadAll"><h3>Download All Excel reports</h3></a>
    <a href="/show_data"><h3>Show records of selected engineer</h3></a>
    <a href="/pivot/travel/0"><h3>Pivot table for travel records</h3></a>
    <a href="/new_record"><h3>Add new record</h3></a>
    <br><br>
    <a href="/dev"><h3>Dev</h3></a>
    <h4>Mounted to this folder \\bosch.com\dfsrb\DfsCN\LOC\Sgh\RBCN\RBEI_ECN\RBEI_ECN\11-VM\docker-volume-flaskcrud</h4>
</div>
{% endblock %}