<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>type</th>
      <th>Accomodation</th>
      <th>Meals</th>
      <th>Transp.-Flight/Train</th>
      <th>Transp.-Taxi/Toll/Bus/Metro</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>engineerName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>丁秀菊</th>
      <td>0</td>
      <td>2708.40</td>
      <td>0</td>
      <td>1408.84</td>
      <td>4117.24</td>
    </tr>
    <tr>
      <th>吴鹏</th>
      <td>13114</td>
      <td>8156.80</td>
      <td>328</td>
      <td>2863.72</td>
      <td>24462.52</td>
    </tr>
    <tr>
      <th>唐野</th>
      <td>11700</td>
      <td>1927.00</td>
      <td>16632</td>
      <td>2779.48</td>
      <td>33038.48</td>
    </tr>
    <tr>
      <th>孙少鹏</th>
      <td>3672</td>
      <td>0.00</td>
      <td>2428</td>
      <td>324.00</td>
      <td>6424.00</td>
    </tr>
    <tr>
      <th>崔拯</th>
      <td>8422</td>
      <td>1130.00</td>
      <td>3532</td>
      <td>330.00</td>
      <td>13414.00</td>
    </tr>
    <tr>
      <th>徐大炎</th>
      <td>0</td>
      <td>0.00</td>
      <td>0</td>
      <td>708.90</td>
      <td>708.90</td>
    </tr>
    <tr>
      <th>戴芳</th>
      <td>0</td>
      <td>2973.38</td>
      <td>0</td>
      <td>1318.80</td>
      <td>4292.18</td>
    </tr>
    <tr>
      <th>李敏芳</th>
      <td>0</td>
      <td>0.00</td>
      <td>0</td>
      <td>1035.28</td>
      <td>1035.28</td>
    </tr>
    <tr>
      <th>杨雪盈</th>
      <td>15840</td>
      <td>6262.68</td>
      <td>0</td>
      <td>3594.26</td>
      <td>25696.94</td>
    </tr>
    <tr>
      <th>王1</th>
      <td>0</td>
      <td>114.00</td>
      <td>0</td>
      <td>219.00</td>
      <td>333.00</td>
    </tr>
    <tr>
      <th>王二</th>
      <td>0</td>
      <td>114.00</td>
      <td>0</td>
      <td>219.00</td>
      <td>333.00</td>
    </tr>
    <tr>
      <th>王鹏龙</th>
      <td>15840</td>
      <td>5118.48</td>
      <td>0</td>
      <td>2623.06</td>
      <td>23581.54</td>
    </tr>
    <tr>
      <th>白军艳</th>
      <td>11940</td>
      <td>2512.52</td>
      <td>0</td>
      <td>2761.76</td>
      <td>17214.28</td>
    </tr>
    <tr>
      <th>胡乃涛</th>
      <td>15760</td>
      <td>6313.70</td>
      <td>218</td>
      <td>5996.90</td>
      <td>28288.60</td>
    </tr>
    <tr>
      <th>蒋赫敏</th>
      <td>0</td>
      <td>3495.40</td>
      <td>0</td>
      <td>4341.62</td>
      <td>7837.02</td>
    </tr>
    <tr>
      <th>赵文龙</th>
      <td>15960</td>
      <td>4728.02</td>
      <td>0</td>
      <td>4112.00</td>
      <td>24800.02</td>
    </tr>
    <tr>
      <th>钟伟</th>
      <td>16256</td>
      <td>9324.40</td>
      <td>2636</td>
      <td>87.36</td>
      <td>28303.76</td>
    </tr>
    <tr>
      <th>闫淑娟</th>
      <td>0</td>
      <td>4603.06</td>
      <td>0</td>
      <td>27.96</td>
      <td>4631.02</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>128504</td>
      <td>59481.84</td>
      <td>25774</td>
      <td>34751.94</td>
      <td>248511.78</td>
    </tr>
  </tbody>
</table>