<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>type</th>
      <th>Accomodation</th>
      <th>Meals</th>
      <th>Transp.-Flight/Train</th>
      <th>Transp.-Taxi/Toll/Bus/Metro</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>engineerName</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>丁秀菊</th>
      <td>0.0</td>
      <td>1039.30</td>
      <td>0.0</td>
      <td>1157.00</td>
      <td>2196.30</td>
    </tr>
    <tr>
      <th>吴鹏</th>
      <td>18323.6</td>
      <td>9480.20</td>
      <td>1858.5</td>
      <td>309.00</td>
      <td>29971.30</td>
    </tr>
    <tr>
      <th>唐野</th>
      <td>0.0</td>
      <td>85.80</td>
      <td>0.0</td>
      <td>1023.38</td>
      <td>1109.18</td>
    </tr>
    <tr>
      <th>崔拯</th>
      <td>10699.0</td>
      <td>4761.80</td>
      <td>109.0</td>
      <td>149.00</td>
      <td>15718.80</td>
    </tr>
    <tr>
      <th>徐大炎</th>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>147.12</td>
      <td>147.12</td>
    </tr>
    <tr>
      <th>戴芳</th>
      <td>0.0</td>
      <td>2938.10</td>
      <td>0.0</td>
      <td>1195.81</td>
      <td>4133.91</td>
    </tr>
    <tr>
      <th>李敏芳</th>
      <td>0.0</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>135.14</td>
      <td>135.14</td>
    </tr>
    <tr>
      <th>杨雪盈</th>
      <td>6000.0</td>
      <td>3173.81</td>
      <td>0.0</td>
      <td>1136.10</td>
      <td>10309.91</td>
    </tr>
    <tr>
      <th>王鹏龙</th>
      <td>8400.0</td>
      <td>1799.48</td>
      <td>0.0</td>
      <td>735.73</td>
      <td>10935.21</td>
    </tr>
    <tr>
      <th>胡乃涛</th>
      <td>776.0</td>
      <td>4725.60</td>
      <td>109.0</td>
      <td>2899.00</td>
      <td>8509.60</td>
    </tr>
    <tr>
      <th>蒋赫敏</th>
      <td>0.0</td>
      <td>356.80</td>
      <td>0.0</td>
      <td>148.53</td>
      <td>505.33</td>
    </tr>
    <tr>
      <th>赵文龙</th>
      <td>9880.0</td>
      <td>3942.85</td>
      <td>38.5</td>
      <td>2626.20</td>
      <td>16487.55</td>
    </tr>
    <tr>
      <th>闫淑娟</th>
      <td>0.0</td>
      <td>3399.79</td>
      <td>0.0</td>
      <td>0.00</td>
      <td>3399.79</td>
    </tr>
    <tr>
      <th>Total</th>
      <td>54078.6</td>
      <td>35703.53</td>
      <td>2115.0</td>
      <td>11662.01</td>
      <td>103559.14</td>
    </tr>
  </tbody>
</table>